<div class="jumbotron text-center">
  <h2 class="jumbotron-heading"><%= t('blacklight.welcome') %></h2>

  <p class="lead" style="text-align:left;">This database contains the event information from the past 50 years of the gaming convention Gen Con as described by the event's programs.  Here you can search through the events to learn about the history of Gen Con and how gaming and popular culture has changed between 1967 and 2017.  Please use the facets on the left side of the screen and the search bar to explore these events.  If you would like, you can <a href="http://best50yearsingaming.com/items/show/207">download all of the event data in csv format</a> to conduct your own research in other tools.</p>

</div>
